{% extends "base.html" %}
{% block content %}
<h1>Gestion des Fournisseurs</h1>
<div class="form-container">
    <form action="" method="POST">
        <div class="form-group">
            <label for="id_nom">Nom du fournisseur</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="id_adresse">Adresse</label>
            {{ form.adresse }}
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_telephone">Téléphone</label>
            {{ form.telephone }}
        </div>
        {% csrf_token %}
        <div class="form-button">
            <button type="submit">➕ Créer fournisseur</button>
        </div>
    </form>
</div>

<table class="modern-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Noms</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for a in fournisseurs %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.nom }}</td>
            <td>{{ a.adresse }}</td>
            <td>{{ a.email }}</td>
            <td>(+237) {{ a.telephone }}</td>
            <td>
                <a href="{% url 'fournisseur_update' a.id %}">✏️ Modifier</a>
                <a href="{% url 'fournisseur_delete' a.id %}">🗑️ Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}