{% extends "base.html" %}
{% block content %}
<h1>Modifie le fournisseur {{ elt }}</h1>
<div class="form-container">
    <form action="" method="POST">
        <div class="form-group">
            <label for="id_nom">Nom du fournisseur</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="id_adresse">Adresse</label>
            {{ form.adresse }}
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_telephone">Téléphone</label>
            {{ form.telephone }}
        </div>
        {% csrf_token %}
        <div class="form-button">
            <button type="submit">✏️ Modifier fournisseur</button>
        </div>
    </form>
</div>
<div class="form-button">
<a href="{% url 'fournisseur' %}" id="a">Annuler</a>
</div>
{% endblock content %}