{% extends "base.html" %}
{% block content %}
<h1>Gestion des comptes du {{ p.nom }}</h1>
<div class="form-container">
    <form action="" method="POST">
        <div class="form-group">
            <label for="id_nom">Nom du compte</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="id_numero">Numéro du compte</label>
            {{ form.numero }}
        </div>
        <div class="form-group">
            <label for="id_solde">Solde initial</label>
            {{ form.solde }}
        </div>
        <div class="form-group">
            <label>Type de compte</label>
            <div class="radio-group">
                {{ form.type }}
            </div>
        </div>
        <input type="hidden" name="plan_comptable" value="{{ p.id }}">
        {% csrf_token %}
        <div class="form-button">
            <button type="submit">➕ Créer compte</button>
        </div>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Noms</th>
            <th>Numéro</th>
            <th>Type</th>
            <th>Solde</th>
            <th>Plan comptable</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for a in comptes %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.nom }}</td>
            <td>{{ a.numero }}</td>
            <td>{{ a.type }}</td>
            <td>{{ a.solde }} Franc CFA</td>
            <td>{{ p.nom }}</td>
            <td><a href="{% url 'compte_delete' pk=p.id iq=a.id %}">🗑️ Supprimer</a>
            <a href="{% url 'compte_update' p.id a.id %}">✏️ Modifier</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}